body, html {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: background .5s ease, visibility .5s ease;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 0;
  transform: uppercase;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p, li {
  font-size: 1.25em;
}

.break {
  width: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 0.1em;
}

button {
  margin-top: 2%;
  transition: background .25s;
  background-color: transparent;
}

button:hover {
  transition: background .25s;
}

/* Nav bar */
.navbar {
  background-color: transparent;
  top: 2%;
  border: 0;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-brand img {
  height: 2.75em;
  max-height: 100%;
}

/* Hero and Description*/
.hero, .description, .stream {
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.hero-text, .description-text {
  margin-top: 25%;
}

.description-text {
  transform: translateX(100%);
}

@media (max-width: 1025px) {
  .hero-text, .description-text {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .hero-text, .description-text {
    width: 50%;
  }
  .hero h1 {
    font-size: 4em;
  }
}

.hero button {
  border: 1px solid #5e507e;
  border-radius: 100px;
  color: #5e507e;
}

.hero button:hover {
  background-color: #5e507e;
  color: white;
}

/* Stream */
.stream h1, .stream h2, .stream h4 {
  text-align: center;
}

.stream button {
  border: 1px solid #5e507e;
  border-radius: 100px;
  color: #5e507e;
}

.stream button:hover {
  background-color: #5e507e;
  color: white;
}

.stream img {
  width: 100%;
}

/* FAQ */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* Contact */
.contact {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.contact-text {
  transform: translate(-50%, -50%);
  padding: 0 5%;
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
}

.contact .break {
  background-color: white;
  margin: auto;
  margin-top: 20em;
  margin-bottom: 20em;
}

.contact button {
  border: 1px solid white;
  border-radius: 100px;
  color: white;
}

.contact button:hover {
  background-color: white;
  color: #6dc1dd;
}

.contact input {
  border-radius: 10px;
  border-color: white;
  background-color: transparent;
  text-align: center;
  width: 50%;
  transform: translateX(50%);
  height: 3em;
  color: white;
}

.contact input::placeholder {
  color: white;
  opacity: 0.75;
}

.contact input:focus {
  border-radius: 10px;
  border-color: white;
  background-color: transparent;
}

/* Footer */
.footer {
  background-color: white;
  text-align: center;
}

.footer .container-fluid{
  margin-left: 2%;
  margin-right: 2%;
}

.leftSide {
  text-align: left;
}

.rightSide {
  text-align: right;
}

.logo{
  max-width: 20%;
}
