/*
  #3c56a5 blue
  #ec1b69 red
  #80c241 green
*/

body, html {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: background .5s ease, visibility .5s ease;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 0;
}

h3 {
  font-size: 1.5em;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p, li {
  font-size: 1.1em;
}

p {
  opacity: 0.75;
}

li {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: 1px solid;
  margin-top: 4%;
  border-radius: 100px !important;
  color: white;
  width: 33%;
  transition: background .25s;
  box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.1);
}

button:hover {
  background-color: white !important;
}

.form-control {
  padding: 3.5%;
}

input::placeholder {
 font-style: italic;
}

@media (max-width: 768px) {
  button {
    width: inherit;
  }
  img {
    position: relative !important;
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.25s; /* Safari 4+ */
  -moz-animation:    fadeInDown 0.25s; /* Fx 5+ */
  -o-animation:      fadeInDown 0.25s; /* Opera 12+ */
  animation:         fadeInDown 0.25s; /* IE 10+, Fx 29+ */
  visibility: visible;
}

.fadeOutUp {
  -webkit-animation: fadeOutUp 0.25s; /* Safari 4+ */
  -moz-animation:    fadeOutUp 0.25s; /* Fx 5+ */
  -o-animation:      fadeOutUp 0.25s; /* Opera 12+ */
  animation:         fadeOutUp 0.25s; /* IE 10+, Fx 29+ */
  visibility: hidden;
}

/* Nav bar */
.navbar {
  background-color: white;
  border: 0;
  transition: visibility 0.25s, background-color 0.25s;
}

.nav-bod {
  margin-top: 2%;
}

@media (max-width: 768px) {
  .navbar {
    visibility: hidden;
  }
}

/* Hero and Description*/
.hero, .description, .stream, .hacker-stories, .how-it-works, .contact {
  height: 100vh;
  position: relative;
  text-align: left;
}

.hero-text, .description-text {
  margin-top: 25%;
}

#hero-sub {
  opacity: 0.51;
}

.hero h3 {
  margin-bottom: 4%
}

.hero img {
  position: absolute;
  max-height: 80%;
  right: 0;
}

.hero button {
  border-color: #3c56a5;
  background-color: #3c56a5;
}

.hero button:hover {
  color: #3c56a5;
}

.hero input {
  max-width: 90%;
}

.description {
  overflow: visible;
}

.description img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 85vh;
}

#learn img{
  margin: 19%;
}


@media (max-width: 426px) {
  .hero, .description, .stream, .hacker-stories, .sponsor, .contact {
    min-height: 100%;
    max-height: 350vh;
    height: auto;
    display: block;
    overflow: hidden;
  }
  .hero-text, .description-text {
    max-width: 100%;
  }
  .hero img {
    max-height: 50vh;
    float: right;
    margin-bottom: 2%;
  }
  .description-text {
   margin: 10% auto;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .hero {
    height: 50vh;
    margin-bottom: 5%;
  }
  .description {
    height: 50vh;
    margin-bottom: 5%;
  }
  .hero-text, .description-text {
    margin-top: 10%;
    max-width: 45%;
  }
  .hero img {
    max-height: 100%;
    float: right;
  }
  #learn img{
    margin-left: 10%;
    margin-top: 20%;
    max-width: 80%;
  }
}

@media (min-width: 1025px) {
  .hero-text {
    width: 50%;
  }
  .hero h1 {
    font-size: 4em;
  }
  .description-text {
    max-width: 35%;
  }
  .description-text p {
   margin-top: 4%;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .hero-text {
    margin-left: 4%;
    margin-top: 20%;
    max-width: 45%;
  }
  .hero img {
    height: 100%;
    width: auto;
  }
  #learn img{
    margin-left: 10%;
    margin-top: 20%;
    max-width: 80%;
  }
}

/* How It Works */
.how-it-works-content {
  margin-top: 4%;
}

.how-it-works img {
  position: absolute;
  max-width: 100%;
  max-height: 80vh;
  right: 0;
}

.how-it-works .nope{
  visibility: hidden;
}

.how-it-works .nope-nav{
  color: black !important;
}

.how-it-works .here-nav{
  z-index: 1;
}

.how-it-works .here-nav:after{
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: -9px;
  bottom: -9px;
  left: -4px;
  right: -4px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.1);
  background-color: white;
}

.how-it-works-text {
  margin-top: 25%;
}

.how-it-works .col-md-4 {
  text-align: center;
}

.how-it-works p {
  margin-top: 3%;
  font-weight: bold;
}

.how-it-works-row {
  margin-top: 4%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #e0e0e0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

@media (max-width: 426px) {
  .how-it-works {
    background-color: red;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .how-it-works-text {
    margin-top: 0;
    transform: translateX(3%);
  }
  .how-it-works-row {
    width: 99%;
  }
  .how-it-works img {
    position: absolute !important;
    transform: translateY(-100%);
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .how-it-works {
    background-color: green;
    max-height: 300vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .how-it-works-text {
    margin-top: 0;
    transform: translateX(3%);
  }
  .how-it-works-row {
    width: 99%;
  }
  .how-it-works img {
    position: absolute !important;
    transform: translateY(-100%);
    width: 75%;
  }
}

@media (max-width: 1025px) {
  .how-it-works-text {
    margin-left: 10%;
    max-width: 80%;
  }
}

@media (min-width: 1025px) {
  .how-it-works-text {
    transform: translateX(50%);
  }
  .how-it-works-row {
    width: 50%;
  }
}

/* Stream */
.stream h1, .stream h2, .stream h4 {
  text-align: center;
}

.stream h1, .stream h3, .stream p {
  margin-top: 10%;
}

.stream p {
  max-width: 80%;
}

.stream img {
  width: 100%;
  margin: 5% auto;
}

@media (max-width: 768px) {
  .stream h3, .stream p {
    margin-top: 0;
  }
  .stream .col-md-4 {
    margin: 5%;
  }

}

/* Hacker Stories*/
.hacker-stories {
  overflow: visible;
  white-space: nowrap;
}

.hacker-stories-content {
  margin: 10% auto;
}

.carousel-item {
  margin-top: 2%;
  margin-right: 3%;
  height: 60%;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: transparent;
  display: inline-block;
  transition: transform 2s ease;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-item-img img{
  max-width: 55%;
  max-height: 100%;
  overflow: visible;
  float: left;
}

.carousel-item-text {
  max-width: 45%;
  float: right;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  white-space: normal;
}

.carousel-item #sub {
  color: grey;
}

.carousel-item-grey {
  background-color: grey;
  opacity: 0.5 !important;
}

.carousel-bar {
  margin-top: 2%;
  padding: 1%;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: transparent;
  display: inline-block;
}

@media (max-width: 768px) {
  .carousel-item-text {
    visibility: hidden;
  }
}

/* FAQ */
.faq {
  overflow: visible;
  height: auto;
}

.faq h1 {
  font-size: 2.5em;
}

.accordion {
  margin-top: 2%;
  cursor: pointer;
  padding: 0.005%;
  padding-left: 3%;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0 6px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: transparent;
}

.answer {
  margin-top: 2%;
  padding: 0 5%;
  transition: display 1s;
  color: rgba(0, 0, 0, 0.7)
}

.faq img {
  position: absolute;
  width: 30%;
  margin-top: 12%;
  left: 0;
}

@media (max-width: 768px) {
  .faq img {
    visibility: hidden;
  }
}

@media (min-width: 769px) {
  .faq .col-md-8 {
    margin: 1% auto;
  }
  .faq img {
    height: 70vh;
    width: auto;
  }
  .faq h1 {
    margin: 5% auto;
  }
}

@media (min-width: 1025px) {
  .faq img {
    margin-top: 20%;
  }
}

/* Sponsor */
.sponsor {
  position: relative;
  display: block;
  padding: 10%;
  text-align: center;
  margin-bottom: 30px;
}

.sponsor h3 {
  opacity: 0.51;
}

/* Contact */
.contact {
  max-height: 90vh;
  background-color: #F6F6F6;
  padding: 3%;
}

.field {
  margin-top: 5%;
}

.control-label {
  margin-bottom: 0;
}

.contact-form input {
  padding: 4%;
}

.form-control {
  border-style: none;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.1);
}

.textarea {
  min-height: 25vh;
}

.newsletter {
  text-align: center;
  width: 45%;
  margin-top: 3.5%;
  margin-left: 4%;
  padding: 9%;
  border-radius: 7px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.newsletter input {
  max-width: 80%;
  display: block;
  margin : 2% auto;
}

.contact button {
  background-color: #ec1b69;
}

.contact button:hover {
  border-color: #ec1b69;
  color: #ec1b69;
}

.newsletter button {
  background-color: #3c56a5;
  width: 50%;
}

.newsletter button:hover {
  border-color: #3c56a5;
  color: #3c56a5;
}

@media (max-width: 768px) {
  .newsletter {
    visibility: hidden;
  }
  .contact {
    height: auto;
  }
  .contact-form input {
    padding: 2%;
  }
  .contact button {
    width: 33%;
  }
}

@media (max-width: 1025px) {
  .newsletter {
    margin-top: 2%;
  }
}

/* Footer */
.footer {
  background-color: #C4C4C4;
  height: 10vh;
  text-align: center;
}

.footer img{
  height: 5vh;
  margin: 2%;
}

@media (max-width: 426px) {
  .footer img {
    margin: 4%;
  }
}

@media (min-width: 1025px) {
  .footer img{
    height: 5vh;
    margin: 1%;
  }
}
